[Unit]
Description=Measure Weight Application
After=network.target

[Service]
Type=simple
AmbientCapabilities=CAP_NET_RAW
CapabilityBoundingSet=CAP_NET_RAW
WorkingDirectory=%h/Code/xiaomi-scale
ExecStart=/bin/bash -c 'eval "$(direnv export bash)" && python3 MeasureWeight.py'
Restart=on-failure
Environment=PYTHONUNBUFFERED=1
Environment=VIRTUAL_ENV_DISABLE_PROMPT=1

[Install]
WantedBy=default.target
