[Unit]
Description=mkdocs devel server

[Service]
ExecStart=/home/chrisq/bin/mkdocs-venv/bin/mkdocs serve
WorkingDirectory=%h/Sync/Wiki/Tech

[Install]
WantedBy=default.target

