[Unit]
Description=Darkhttpd Webserver
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/darkhttpd /srv/mkdocs/Tech --mimetypes /etc/conf.d/mimetypes --port 8000 --addr 127.0.0.1
Restart=on-failure

[Install]
WantedBy=default.target

