[Unit]
Description=tmux default session (detached)
Documentation=man:tmux(1)

[Service]
Type=forking
Environment=DISPLAY=:0
# Explicitly set XDG_CONFIG_HOME from the environment
Environment=TMUX_TMPDIR=%t
Environment=TERM=xterm-256color
# if importing environemnt.d files, values with $ are not expanded, i.e. $HOME is not expanded
# EnvironmentFile=%h/.config/environment.d/xdg.conf
ExecStartPre=systemctl --user import-environment DISPLAY WAYLAND_DISPLAY XDG_SESSION_TYPE XDG_SESSION_DESKTOP GPG_TTY XDG_CURRENT_DESKTOP
ExecStart=/usr/bin/tmux -f "%h/.config/tmux/tmux.conf" -S /run/user/10000/tmux-10000/default new-session -d
ExecStop=%h/.local/share/tmux/plugins/tmux-continuum/scripts/continuum_save.sh
ExecStop=/usr/bin/tmux kill-server
KillMode=control-group

RestartSec=2

[Install]
WantedBy=default.target

