---
- hosts: localhost
  become: true
  tasks:
    - name: Install essential cli software
      pacman:
        name:
          - iwd
          - dnsutils
          - xorg-xwininfo
          - xss-lock
          - pipewire-pulse
          - pipewire-alsa
          - lib32-pipewire
          - interception-tools
          - interception-caps2esc
          - lib32-mesa-utils
          - wireplumber
          - virtualbox
          - virtualbox-host-dkms
          - virtualbox-guest-iso
          - virtualbox-guest-utils
          - wofi
          - hyprland
          - hyprlock
          - hypridle
          - hyprpolkitagent
          - difftastic
          - wev
          - geeqie
          - tuned-ppd
          - bluettui
          - bluez
          - bluez-utils
          - firefox
          - nerd-fonts
          - ghostty
        state: present
