---
- hosts: localhost
  become: true

  vars:
    aur_packages:
      - spotify
      - slack
      - visual-studio-code-bin
      - zoom
      - google-chrome
      - autopass.cr-bin
      - brave-bin
      - azure-cli
      - checkupdates-aur
      - choose
      - ciso
      - correcthorse-git
      - direnv
      - ebtables
      - fbneo-git
      - fontpreview-ueberzug-git
      - gopass-jsonapi-git
      - gopass-ui-bin
      - gotop-bin
      - icaclient
      - inxi
      - headlamp-bin
      - overskride-bin
      - lf-git
      - libopenaptx-git
      - libu2f-server
      - host
      - minetime-bin
      - octant-bin
      - pass-clip
      - pegasus-frontend-git
      - perl-checkupdates-aur
      - perl-www-aur
      - polybar
      - pulseaudio-control
      - rofi-bluetooth-git
      - romvault
      - slack-desktop
      - spotify
      - syncthing-gtk
      - teams
      - tfenv
      - trizen
      - xkcdpass
      - lscolors-git
      - terraform-lsp-bin
      - dockerfile-language-server-bin
      - isync-utf8-mailboxes
      - terraform-lsp-bin
      - i3lock-fancy-multimonitor
      - ripmime
      - i3-gaps-rounded-git
      - xdg-desktop-portal-hyprland-git
      - hyprshot
      - hyprdock
      - hyprland-workspaces
      - gopass-ui-bin
      - romvault
      - asdf-vm
      - tfenv
      - hr
      - nodejs-gitmoji-cli
      - spotify-player
      - battop
      - ps_mem
      - clipboard-bin
      - iwes-bin
      - mdtt-bin
      - luajit-tiktoken-bin

  tasks:
    - name: Install paru
      become: false
      kewlfft.aur.aur:
        name: paru
        use: auto   # It will install yay or paru if needed
        state: present

    - name: Install yay
      become: false
      kewlfft.aur.aur:
        name: yay
        state: present

    - name: Install multiple AUR packages (best-effort)
      become: false
      kewlfft.aur.aur:
        name: "{{ item }}"
        state: present
        use: auto
      loop: "{{ aur_packages }}"
      register: aur_results
      ignore_errors: yes

    - name: Show failed AUR packages
      debug:
        msg: "Failed to install {{ item.item }}: {{ item.msg | default(item) }}"
      loop: "{{ aur_results.results }}"
      when: item.failed | default(false)
