[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=cqpass
Comment=gopass with rofi
Exec=/home/chrisq/bin/cqpass
Icon=application.png
Terminal=false
