[Desktop Entry]
Name=Firefox (Wayland cursor fix)
Comment=Browse the Web
Exec=env MOZ_DISABLE_HW_CURSOR=1 firefox %u
Terminal=false
Type=Application
Icon=firefox
Categories=Network;WebBrowser;
StartupWMClass=firefox
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
