[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=cqpass-menu
Comment=gopass with rofi menu
Exec=env PASSWORD_STORE_DIR=/home/chrisq/Sync/Password-Store GNUPGHOME=/home/chrisq/.config/gnupg /usr/bin/rofi-pass
Icon=application.png
Terminal=false
